@model CupcakeShop.Core.ViewModels.ProductListViewModel

@{
    ViewBag.Title = "Home Page";
}

    <section id="welcome-image">
        <div class="image-container">
            @*<div class="cupcakes-image">*@
            <img src="~/Content/GenericImages/cupcakes-image.jpg" />
            @*</div>*@
            <div class="overlay">
                <h1>Love Is Sweet</h1>
                <hr />
                <div class="box-containers">
                    <div class="home-box">
                        <a href="@Url.Action("ProductListing", "Home")">
                            <h2>Shop Cupcakes</h2>
                        </a>
                    </div>
                    <div class="home-box">
                        <a href="@Url.Action("Delivery", "DeliveryController")">
                            <h2>Same Day Delivery</h2>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="favourites">
        <div container>
            <h1>Our Customers' Favourites</h1>
            <div class="favourite-products container">
                <div class="row">

                    @*@foreach (var item in Model.Products)*@
                    @foreach (var item in Model.Products.Count() > 3 ? Model.Products.Skip(Model.Products.Count() - 3) : Model.Products)
                    {
                        <div class="col-md-4">
                            <div class="col-md-12 item-slide">
                                <a class="product-item">
                                    <img class="img" style="height:250px" src="~/Content/ProductImages/@item.Image" />
                                </a>
                            </div>
                            <div class="col-md-12">
                                <p class="product-name">@Html.ActionLink(item.Name, "Details", new { id = item.Id })</p>
                            </div>
                            <div class="col-md-12">
                                <p>@item.Description</p>
                            </div>
                            <div class="col-md-12">
                                <p>@item.Price</p>
                            </div>
                            <div class="col-md-12 add-basket">
                                <a href="@Url.Action("AddToBasket","Basket", new { Id=item.Id})" class="btn btn-default add-button">Add to Basket</a>

                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
    <div class="container mt-5">
    </div>

