@model CupcakeShop.Core.ViewModels.ProductListViewModel

@{
    ViewBag.Title = "ProductListing";
}



    <div class="container pages-text pb-3">
        <div class="pages-title">
            <h2>Our Products</h2>
            <hr style="background-color: #a8c8d5;" />
        </div>
        <div class="container text-center">
            <div class="row">
                <div class=" col-md-2 my-auto">
                    <h4>Sponge Flavour</h4>
                    <div class="list-group admin-text mt-3 ">
                        @Html.ActionLink("All", "ProductListing", null, new { @class = Request["Category"] == null ? "list-group-item active" : "list-group-item" })
                        @foreach (var cat in Model.ProductCategories)
                        {
                            @Html.ActionLink(cat.Category, "ProductListing", new { Category = cat.Category }, new { @class = Request["Category"] == cat.Category ? "list-group-item active" : "list-group-item" })
                        }
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="row">
                        @foreach (var item in Model.Products)
                        {
                            <div class="col-md-4">
                                <div class="col-md-12 item-slide">
                                    <a class="product-item">
                                        <img class="img" style="height:250px" src="~/Content/ProductImages/@item.Image" />
                                    </a>
                                </div>
                                <div class="col-md-12">
                                    <p class="product-name">@Html.ActionLink(item.Name, "Details", new { id = item.Id })</p>
                                </div>
                                <div class="col-md-12">
                                    <p>@String.Format("{0:c}", item.Price)</p>
                                </div>
                                <div class="col-md-12 add-basket">
                                    <a href="@Url.Action("AddToBasket","Basket", new { Id=item.Id})" class="btn btn-default add-button">Add to Basket</a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                </div>
        </div>
    </div>