<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - The Cupcake Shop</title>

    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">*@
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    @* Jquery added to modify CSS dynamically *@
    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div id="page-container">
        <div id="content-wrap">
            <div id="nav-container">
                <div id="brown-bar"></div>
                <div id="white-front-banner" style="width:100%; height:150px;">
                    <nav class="navbar fixed-top navbar-expand-lg navbar-dark" style=" position: relative; top: 40px;">
                        <div class="container">
                            @*@Html.ActionLink("The Cupcake Shop", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
                            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="navbar-collapse collapse">
                                <ul class="nav navbar-nav mr-auto">
                                    <li class="nav-item">@Html.ActionLink("Shop Now", "ProductListing", "Home", null, new { @class = "nav-link" })</li>
                                    <li class="nav-item">@Html.ActionLink("Opening Hours", "Contact", "Home", null, new { @class = "nav-link" })</li>
                                    <li class="nav-item">@Html.ActionLink("Allergies", "DietAll", "Home", null, new { @class = "nav-link" })</li>
                                    <li>
                                        <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                                            <img src="~/Content/GenericImages/logoS.png" alt="Site Logo" id="logo" />
                                        </a>
                                    </li>
                                </ul>
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="nav-icons">
                                        <a href="@Url.Action("Search", "SearchController")">
                                            <i class="fas fa-search icons"></i>
                                        </a>
                                    </li>
                                    <li class="nav-icons">
                                        <a href="@Url.Action("Contact", "Home")">
                                            <i class="fas fa-map-marker-alt icons"></i>
                                        </a>
                                    </li>
                                </ul>
                                @{
                                    Html.RenderAction("BasketSummary", "Basket");
                                }
                                
                                @Html.Partial("_LoginPartial")
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
                <div style="padding-top:200px">
                @RenderBody()
                </div>
            </div>
            <footer class="mt-5" style="background-color: #422316" id="footer">
                @*<div class="container-fluid">*@
                <div class="card px-5">
                    <div class="card-body px-5">
                        <div class="row px-5">
                            <div class="card col-12 col-md-2 pr-0">
                                <div class="card-content">
                                    <div class="card-text mt-4 pl-5">
                                        <p><small>@Html.ActionLink("Shop Online", "Index", "Home")</small></p>
                                        <p><small>@Html.ActionLink("About Us", "About", "Home")</small></p>
                                        <p><small>@Html.ActionLink("Contact Us", "Contact", "Home")</small></p>
                                        <p><small>@Html.ActionLink("Catering", "Catering", "Home")</small></p>
                                        <p><small>@Html.ActionLink("Admin", "Index", "Admin")</small></p>
                                    </div>
                                </div>
                            </div>
                                <div class="card col-12 col-md-2">
                                    <div class="card-content">
                                        <div class="card-text mt-4 pl-0 ml-0">
                                        <p><small>@Html.ActionLink("Dietary & Allergen", "DietAll", "Home")</small></p>
                                        <p><small>@Html.ActionLink("Careers", "Careers", "Home")</small></p>
                                        <p><small>@Html.ActionLink("Privacy Policy", "PrivPol", "Home")</small></p>
                                        <p><small>@Html.ActionLink("Terms & Conditions", "TermsCon", "Home")</small></p>
                                        <p><small>@Html.ActionLink("Admin Login", "Index", "Admin", null, new { @class = "nav-link" })</small></p>
                                    </div>
                                </div>
                            </div>
                            <div class="card col-12 col-md-4 mt-4 pl-0">
                                <div class="card-content my-auto">
                                    <a href="@Url.Action("Index", "Home")">
                                        <div class="footer-circle"></div>
                                        <img src="~/Content/GenericImages/logoS.png" alt="Site Logo" id="footer-logo" class="rounded-circle" />
                                    </a>
                                </div>
                            </div>
                            <div class="card col-12 col-md-2 mt-4">
                                <div class="card-content text-center my-auto">
                                    <a href="https://www.facebook.com/">
                                        <i class="fab fa-facebook-square fa-2x"></i>
                                    </a>
                                    <a href="https://www.twitter.com/">
                                        <i class="fab fa-twitter-square fa-2x"></i>
                                    </a>
                                    <a href="https://www.instagram.com/">
                                        <i class="fab fa-instagram fa-2x"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*</div>*@
            </footer> 
    </div>
            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", required: false)
</body>
</html>
