@model CupcakeShop.Core.Models.ProductCategory

@*@{
        ViewBag.Title = "Create";
    }
*@


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="pages-text">
        <div class="pages-title">
            <h2>Create Category</h2>
        </div>
        <div class="contacts-container">
            <div class="text contacts-text product-list-admin-view">
                <div class="checkout-container back-admin-container">
                    <a href="@Url.Action("Index", "ProductCategoryManager")" class="btn btn-checkout">Back to Category Page</a>
                </div>
                <h3 style="text-align:left; margin-top:50px">How to use</h3>
                <p>
                    Choose the name of the Category in "Category"
                </p>
            </div>
            <div class="text contacts-text container mt-5 contacts-map">
                <div class="col-md-6" style="max-width:70%;">
                    <div class="list-group admin-text">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-horizontal">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Category, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Create" class="btn btn-checkout" />
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
